<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catways - Port de plaisance de Russell</title>
</head>

<body>
    <header>
        <h1>Gestion des catways - Port de plaisance de Russel</h1>
    </header>

    <main>

        <ul>
            <li>Créer un catway</li>
            <li>Voir l'ensemble des catways</li>
            <li>Consulter un catway</li>
            <li>Modifier la description d'un catway</li>
            <li>Supprimer un catway</li>
        </ul>

    </main>

    <footer>
        <small>Vous pourrez trouver la documentation de l'API ici : <a href="#">Documentation de l'API</a></small>
    </footer>

</body>
</html>