<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier un Catway</title>
</head>

<body>
    <h1>Modifier l'état du Catway</h1>
    <% if (typeof error !== 'undefined') { %>
        <p><%= error %></p>
    <% } %>

    <form action="/catways/<%= catway._id %>?_method=PUT" method="POST">
        <label for="catwayNumber">Numéro de catway :</label>
        <input type="text" id="catwayNumber" value="<%= catway.catwayNumber %>" disabled>

        <label for="catwayState">État :</label>
        <input type="text" id="catwayState" name="catwayState" value="<%= catway.catwayState %>" required>

        <button type="submit">Enregistrer</button>
    </form>
</body>
</html>
