<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réservations - Port de plaisance de Russell</title>
</head>

<body>
    <header>
        <h1>Gestion des réservations - Port de plaisance de Russel</h1>
    </header>

    <main>
        
        <ul>
            <li>Créer une nouvelle réservation</li>
            <li>Lister l'ensemble des réservations du catway</li>
            <li>Consulter une réservation</li>
            <li>Modifier une réservation</li>
            <li>Supprimer une réservation</li>
        </ul>

    </main>

    <footer>
        <small>Vous pourrez trouver la documentation de l'API ici : <a href="#">Documentation de l'API</a></small>
    </footer>

</body>
</html>